.btn_a {
  width: 100px;
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  width: 270px;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(26, 43, 68);
}
.form-label {
  background: white;
  width: 450px;
  height: 30px;
  padding: 0px;
  border-radius: 20px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); */
}
.form-control {
  height: 50px;
  font-size: 200px;
}
.form-label.form-control {
  width: 100%;
  height: 45px;
  padding: 0 50px 0 20px;
  border-radius: 5px;
  background: #f5f5f5;
  border-radius: 30px;
  font-size: large;
  border: 1px solid rgb(20 223 223);
}
.title_modal {
  font-size: 30px;
}
.form-control :focus {
  box-shadow: 0 0 30px aqua;
}
.form-label p {
  margin: 10px 10 30px;
  opacity: 0.5;
  transition: 0.4s;
}
.form-labelp span {
  font-size: 120px;
  color: rgb(26, 43, 68);
  margin-left: 45px;
}
.fa-times {
  opacity: 0;
}
.fa-check {
  opacity: 1;
}
.form-label p .icon {
  position: absolute;
  text-align: center;
  width: 32px;
  height: 32px;
  line-height: 30px;
  font-size: large;
  border-radius: 50%;
  color: rgb(26, 43, 68);
  border: 2px solid rgb(26, 43, 68);
}
.form-label #show_hide {
  border-radius: 50%;
  font-size: 22px;
  transform: translateX(260px) translateY(-340px);
  cursor: pointer;
}
